html, body { 
    height: auto; 
}

#canvas {
    z-index: -1;
    filter: blur(50px);
    transition: filter cubic-bezier(.34,0,.26,1) 0.5s;
}

.main.container {
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: 6rem;
}

.main.headline {
    display: inline-block;
    font-family: Antic Didone;
    font-size: 3rem;
    color: #FFFFFF;
    padding: 0.7rem;
    margin-bottom: 3rem;
}

.tab.group {
    font-size: 0; /* fix for newlines beteen tab divs being parsed as whitespace and causing a space to appear */
}

.tab.instance {
    font-family: Spartan;
    color: #FFFFFF;
    padding: 0.6rem;
    font-size: 1.2rem;
    display: inline-block;
    margin: 0;
    transition: background-color cubic-bezier(.54, 0, .43, 1) 0.2s;
    cursor: pointer;
}

.tab.instance:hover {
    background-color: #FF2200;
    color: #FFFFFF;
}

.tab.selected {
    background-color: #FF2200;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

.tab.underline {
    background-color: #FF2200;
    height: 1.5rem;
    margin-bottom: 3rem;
}

.content.whole {
    margin-bottom: 6rem;
}

.content.headline {
    display: inline-block;
    font-family: Antic Didone;
    font-size: 3rem;
    color: #FFFFFF;
    padding: 0.7rem;
    margin: 0;
}

.content.block {
    background-color: #FFFFFF;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin-bottom: 2rem;
}

.content.block>p {
    font-family: Spartan;
    font-size: 1rem;
    color: #000000;
    padding: 0.7rem;
    margin: 0;
}

.content.block>p>b {
    background-color: #FF2200;
    color: #FFFFFF;
    font-weight: 400;
    font-style: italic;
    padding: 0.2rem;
}

.content.quote {
    margin-bottom: 2rem;
    display: inline-block;
    font-family: Antic Didone;
    font-size: 1.4rem;
    color: #FFFFFF;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
}

.content:after {
    content: "";
    display: table;
    clear: both;
}

.content.frame {
    clear: left;
    float: left;
}

.content.frame.title {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
    padding: 0.6rem;
    font-family: Antic Didone;
    font-size: 1.4rem;
    color: #FF2200;
    border-color: #FF2200;
    border-width: 0.12rem;
    border-style: solid;
}

.content.frame.title.stacked {
    border-bottom: none;
    margin-bottom: 0;
}

.content.frame.card {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-bottom: 0.9rem;
    padding: 0.8rem;
    font-family: Spartan;
    font-weight: 300;
    font-size: 1rem;
    color: #FF2200;
    border-color: #FF2200;
    border-width: 0.12rem;
    border-style: solid;
}

.content.mono {
    padding: 1.2rem;
    border-color: #FF2200;
    border-width: 0.12rem;
    border-style: solid;
    font-family: 'Space Mono';
    font-style: italic;
    font-weight: 800;
    font-size: 1rem;
    color: #FF2200;
    background: rgba(0, 0, 0, 0.4);
}