/*
Threme Name: Code & Café
Author: Simon Dremeule
Description: Page d'accueil sur mesure pour Code & Café, avec intégration des posts sur la page d'accueil
Version: 4.0
*/

@font-face {
    font-family: CallingCode;
    src: url(CallingCode-Regular.ttf);
}

html {
    font-family: CallingCode; 
}

body {
    background-color: rgb(207, 220, 31);
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    color: #ed1d6a;
}

@media (min-aspect-ratio: 4/5) {
    /* desktop ratio */
    html {
        font-size: 4vh;
    }
    
    .inset-container {
        position: absolute;
        top: 2.6rem;
        left: 0;
        padding: 1.6rem;
        padding-top: 0;
    }
    
    .background-image {
        position: absolute;
        top: 5rem;
        z-index: -1;
        left: 0;
        width: 100%;
        height: 23rem;
        background-position: center;
        background-size: auto 100%;
    }
    
    .background-color-top {
        position: absolute;
        z-index: -1;
        top: 0;
        width: 100%;
        height: 5rem;
        background-color: #000000;
    }
    
    .top-bar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        height: 2.6rem;
        width: 100%;
        background-color: #000000;
        overflow: hidden;
        transition: height cubic-bezier(.04, .31, .43, .99) 0.5s;
    }
    
    .top-bar-button {
        position: fixed;
        left: 0;
        top: 0.5rem;
        height: 1.6rem;
        width: 1.6rem;
        cursor: pointer;
    }
    
    .top-bar-button-element {
        margin-left: 0.2rem;
        margin-top: 0.3rem;
        width: 1.2rem;
        height: 0.1rem;
        background-color: #ffffff;
        transition-property: transform, width;
        transition-timing-function: cubic-bezier(.09, .79, .58, 1);
        transition-duration: 0.6s;
    }
    
    .top-bar-button-element:nth-of-type(1) {
        margin-top: 0.35rem;
    }
    
    .top-bar-button-element.active:nth-of-type(1) {
        transform: translate(0, 0.4rem) rotate(45deg);
    }
    
    .top-bar-button-element.active:nth-of-type(2) {
        width: 0;
    }
    
    .top-bar-button-element.active:nth-of-type(3) {
        transform: translate(0, -0.4rem) rotate(-45deg);
    }
    
    .top-bar-element-container {
        margin-left: 1.6rem;
        margin-right: 1.6rem;
        transition: margin-top cubic-bezier(.09, .79, .58, 1) 0.6s;
    }
    
    .top-bar-element {
        display: inline-block;
        font-size: 1rem;
        padding: 0.7rem;
        margin-right: 0.6rem;
        text-decoration: none;
        color: #ffffff;
        transition: box-shadow cubic-bezier(.09, .79, .58, 1) 0.2s;
        box-shadow: inset 0 0 0 0 #ffffff;
    }
    
    .top-bar-element:hover, .top-bar-element.active {
        color: #ffffff;
        box-shadow: inset 0 -0.25rem 0 0 #ffffff;
    }
    
    .top {
        background-color: rgb(207, 220, 31);
        height: 7rem;
    }
    
    .logo-container {
        float: left;
        clear: none;
    }
    
    .logo {
        height: 7rem;
    }
    
    .top-text-container {
        padding-top: 2.4rem;
        padding-left: 9rem;
    }
    
    .top-text {
        height: 1rem;
        padding-right: 1rem;
    }
    
    .top-text.fr {
        color: #000000;
    }
    
    .top-text.en {
        color: #ffffff;
    }
    
    .archive-disclaimer {
        margin-top: 1rem;
        margin-bottom: 6rem;
        background-color: #ed1d6a;
        color: #ffffff;
        font-size: 0.7rem;
        padding: 0.6rem;
    }
    
    .content-title {
        display: inline-block;
        background-color: #000000;
        color: #ffffff;
        font-size: 1rem;
        padding: 0.7rem;
    }
    
    .content-block {
        background-color: #ffffff;        
        font-size: 0.7rem;
        padding: 0.6rem;
        margin-bottom: 1rem;
    }
    
    .content-subtitle {
        display: inline-block;
        background-color: rgb(207, 220, 31);
        color: #000000;
        padding: 0.2rem;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (max-aspect-ratio: 4/5) {
    /* mobile ratio */
    
    html {
        font-size: 4vh;
    }
    
    .inset-container {
        position: absolute;
        top: 2.6rem;
        left: 0;
        padding: 1.6rem;
        padding-top: 0;
    }
    
    .background-image {
        position: absolute;
        z-index: -1;
        top: 5rem;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: auto 100%;
    }
    
    .background-color-top {
        position: absolute;
        z-index: -1;
        top: 0;
        width: 100%;
        height: 5rem;
        background-color: #000000;
    }
    
    .top-bar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        height: 2.6rem;
        width: 100%;
        background-color: #000000;
        overflow: hidden;
        transition: height cubic-bezier(.04, .31, .43, .99) 0.5s;
    }
    
    .top-bar-button {
        position: fixed;
        left: 0;
        top: 0.5rem;
        height: 1.6rem;
        width: 1.6rem;
        cursor: pointer;
    }
    
    .top-bar-button-element {
        margin-left: 0.2rem;
        margin-top: 0.3rem;
        width: 1.2rem;
        height: 0.1rem;
        background-color: #ffffff;
        transition-property: transform, width;
        transition-timing-function: cubic-bezier(.09, .79, .58, 1);
        transition-duration: 0.6s;
    }
    
    .top-bar-button-element:nth-of-type(1) {
        margin-top: 0.35rem;
    }
    
    .top-bar-button-element.active:nth-of-type(1) {
        transform: translate(0, 0.4rem) rotate(45deg);
    }
    
    .top-bar-button-element.active:nth-of-type(2) {
        width: 0;
    }
    
    .top-bar-button-element.active:nth-of-type(3) {
        transform: translate(0, -0.4rem) rotate(-45deg);
    }
    
    .top-bar-element-container {
        margin-left: 1.6rem;
        margin-right: 1.6rem;
        transition: margin-top cubic-bezier(.09, .79, .58, 1) 0.6s;
    }
    
    .top-bar-element {
        display: inline-block;
        font-size: 1rem;
        padding: 0.7rem;
        margin-right: 0.6rem;
        text-decoration: none;
        color: #ffffff;
        transition: box-shadow cubic-bezier(.09, .79, .58, 1) 0.2s;
        box-shadow: inset 0 0 0 0 #ffffff;
    }
    
    .top-bar-element:hover, .top-bar-element.active {
        color: #ffffff;
        box-shadow: inset 0 -0.25rem 0 0 #ffffff;
    }
    
    .top {
        background-color: rgb(207, 220, 31);
        margin-bottom: 1rem;
    }
    
    .logo-container {
        text-align: center;
    }
    
    .logo {
        display: inline-block;
        top: 0;
        left: 0;
        height: 7rem;
        margin-bottom: -1rem;
    }
    
    .top-text-container {
        text-align: center;
        padding-bottom: 1rem;
    }
    
    .top-text {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .top-text.fr {
        color: #000000;
    }
    
    .top-text.en {
        color: #ffffff;
    }
    
    .archive-disclaimer {
        margin-top: 1rem;
        margin-bottom: 6rem;
        background-color: #ed1d6a;
        color: #ffffff;
        font-size: 0.7rem;
        padding: 0.6rem;
    }
    
    .content-title {
        display: inline-block;
        background-color: #000000;
        color: #ffffff;
        font-size: 1rem;
        padding: 0.7rem;
    }
    
    .content-block {
        background-color: #ffffff;        
        font-size: 0.7rem;
        padding: 0.6rem;
        margin-bottom: 1rem;
    }
    
    .content-subtitle {
        display: inline-block;
        background-color: rgb(207, 220, 31);
        color: #000000;
        padding: 0.2rem;
        margin-top: 0;
        margin-bottom: 0;
    }
}